<div class="window">
  <div class="title-bar">
    <div class="title-bar-text">
      Contact information
    </div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <p>
      <b>Matrix:</b> @alsw:gumblert.tech
    </p>
    <p>
      <b>Github:</b> <a href="https://github.com/nukeop">https://github.com/nukeop</a>
    </p>
  </div>
</div>