<header class="taskbar window">
  <button class="start-button">
    <img src='https://win98icons.alexmeub.com/icons/png/windows-4.png' />
    <span>
      Start
    </span>
  </button>

  <span class="tray-area">
    <hr class="vertical-separator" />
    <span class="well">
      <img src="https://win98icons.alexmeub.com/icons/png/msg_information-2.png" />
      <img src="https://win98icons.alexmeub.com/icons/png/network_cool_two_pcs-4.png" />
      <img src="https://win98icons.alexmeub.com/icons/png/outlook_express-3.png" />
      <img src="https://win98icons.alexmeub.com/icons/png/printer-4.png" />
      <span>
        4:07 PM
      </span>
    </span>
  </span>
</header>