body,
html {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $darkgray;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  flex-flow: row;
  background-color: $darkgray;

  @media screen and (max-width: 768px) {
    flex-flow: column;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

a {
  color: $white;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: $primaryColor;
  }
}

.spacer {
  flex: 1 1 auto;
}
