.left {
  flex: 0 0 auto;
  background-color: $black;
  background: url('images/padded.png');
  width: 400px;
  height: 100%;

  display: flex;
  flex-flow: column;
  color: $grey;

  a {
    color: $white;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5 {
    color: $white;
  }

  .content {
    margin: 24px;
    display: flex;
    flex-flow: column;
  }

  .links {
    text-align: center;
  }
}
