.post {
  margin: 24px;

  .post-title {
    background-color: $primaryColor;
    padding: 24px;
    margin: 0;
  }

  .post-date {
    background-color: $primaryColor;
    padding: 12px;
  }

  .post-content {
    
  }
}
