.projects {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  max-height: calc(100% - 114px);
  z-index: 1;

  .window-body {
    flex: 1 1 auto;
    overflow: auto;
    margin: 0;
  }
}

.project {
  position: relative;
  display: flex;
  flex-flow: row;
  text-decoration: none !important;
  margin: 8px;
  height: auto;

  .thumbnail {
    height: 10rem;
    width: 10rem;
    margin: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .text {
    flex: 1 1 auto;
    height: 100%;
    color: $black;
    margin-left: 8px;
  }

  .name {
    font-weight: bold;
  }

  .language-container {
    display: inline-block;
  }

  .language {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: $white;
    background: $blue;
    padding: 4px 6px;
    margin-left: auto;

    &>*:first-child {
      margin-right: 8px;
    }
  }
}
