---
---

$balloonbg         : #FFFFE1;
$blue           : navy;
$gray           : #C0C0C0;
$darkgray	      : #818181;
$black          : #212529;
$white          : #FFFFFF;

@import "desktop";
@import "layouts";
@import "projects";
@import "taskbar";
