<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

  {% include head.html %}

  <body>
    <div class='projects-page'>
      <div class='projects-content'>
	{{ content }}
      </div>

      <div class='projects'>
	{% for project in site.data.projects %}

	<div class='project' {% if project.color %}style='background: #{{ project.color }}'{% endif %}>
	  <div class='thumbnail'>
            <a href='{{ project.link }}'>
              {% if project.thumbnail %}
              <img src='{{ project.thumbnail }}'>
              {% else %}
              <img src='{{ site.data.blog.default_thumbnail }}'>
              {% endif %}
            </a>
	  </div>
	  <div class='project-infobox' {% if project.secondaryColor %}style='background: #{{ project.secondaryColor }}'{% endif %}>
            <div class='name'>
              <a href='{{ project.link }}'><h3>{{ project.name }}</h3></a>
            </div>
            <div class='language'>
              {{ project.language }}
            </div>
            <div class='desc'>
              <p>
		{{ project.description }}
              </p>
            </div>
	  </div>

	</div>
	{% endfor %}
      </div>
    </div>
  </body>

</html>
